*, *::before, ::after {
    box-sizing: border-box;
}
body {
    --container-gutter: 15px;
    --main-color: #fb8632;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}
.container {
    width: calc(100% - (var(--container-gutter) * 2));
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    overflow-x: scroll; 
    padding-bottom: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) #eeebe8;
}
.nav::-webkit-scrollbar {
    height: 10px;
    border-radius: 10px;
}
.nav::-webkit-scrollbar-track {
    background: #eeebe8;
    border-radius: 10px;
}
.nav::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 6px;
    height: 5px;
}
.nav-item {
    background-color: var(--main-color);
    color: #fff;
    font-weight: 500;
    padding: 0.625rem 0.9375rem;
    border: 2px solid var(--main-color);
    border-radius: 1.125rem;
    transition: all .3s ease-in-out;
    min-width: max-content;
}
.add-custom-scrollbar {
    margin-bottom: 30px;
}
.add-custom-scrollbar:last-child {
    margin-bottom: 0;
}
.hidden {
    display: none !important;
}